		<!--
		=====================================================
			Footer Four
		=====================================================
		-->
		<div class="footer-four position-relative z-1">
			<div class="container container-large">
				<div class="bg-wrapper position-relative z-1">
					<div class="row">
						<div class="col-xxl-3 col-lg-4 mb-60">
							<div class="footer-intro">
								<div class="logo mb-20">
									<a href="index.html">
										<img src="images/logo/fourwalls_logo.svg" alt="">
									</a>
								</div> 
								<!-- logo -->
								<p class="mb-30 xs-mb-20">Φραγκίνη 9, 54624 Θεσσαλονίκη</p>
								<a href="#" class="email tran3s mb-60 md-mb-30">info@four-walls.gr</a>
								<ul class="style-none d-flex align-items-center social-icon">
									<li><a href="https://www.facebook.com/profile.php?id=100080116216895" target="_blank" rel="noopener"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="https://www.instagram.com/fourwalls_skg/" target="_blank" rel="noopener"><i class="fa-brands fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-sm-4 ms-auto mb-30">
							<div class="footer-nav ps-xl-5">
								<h5 class="footer-title">Σύνδεσμοι</h5>
								<ul class="footer-nav-link style-none">
									<li><a href="index.html">Αρχική</a></li>
									<li><a href="listing_01.html">Ακίνητα</a></li>
									<li><a href="about_us_01.html">Σχετικά με εμάς</a></li>
									<li><a href="blog_01.html">Άρθρα</a></li>
									<li><a href="blog_02.html">Πώς δουλεύουμε</a></li>
									<li><a href="pricing_02.html">Εκτίμηση ακινήτου</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-sm-4 mb-30">
							<div class="footer-nav">
								<h5 class="footer-title">Νομικά</h5>
								<ul class="footer-nav-link style-none">
									<li><a href="faq.html">Όροι χρήσης</a></li>
									<li><a href="faq.html">Cookies</a></li>
									<li><a href="faq.html">Πολιτική απορρήτου</a></li>
									<li><a href="faq.html">Συχνές ερωτήσεις</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-sm-4 mb-30">
							<div class="footer-nav">
								<h5 class="footer-title">Κατηγορίες</h5>
								<ul class="footer-nav-link style-none">
									<li><a href="listing_01.html">Διαμερίσματα</a></li>
									<li><a href="listing_02.html">Μεζονέτες</a></li>
									<li><a href="listing_03.html">Γκαρσονιέρες</a></li>
									<li><a href="listing_04.html">Επαγγελματικά</a></li>
									<li><a href="listing_05.html">Οικόπεδα</a></li>
									<li><a href="listing_06.html">Επαγγελματικά</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /.bg-wrapper -->
				<div class="bottom-footer">
					<p class="m0 text-center fs-16">© 2026 Four Walls. Με επιφύλαξη κάθε δικαιώματος.</p>
				</div>
			</div>
			<img src="images/lazy.svg" data-src="images/assets/ils_06.svg" alt="" class="lazy-img shapes shape_01">
		</div> <!-- /.footer-four -->
