		<!--
		=============================================
			Theme Main Menu
		==============================================
		-->
		<header class="theme-main-menu menu-overlay menu-style-one sticky-menu">
			<div class="inner-content gap-one">
				<div class="top-header position-relative">
					<div class="d-flex align-items-center justify-content-between">
						<div class="logo order-lg-0">
							<a href="/en/" class="d-flex align-items-center">
								<img src="images/logo/fourwalls_logo.svg" alt="Four Walls Real Estate">
							</a>
						</div>
						<!-- logo -->
						<div class="right-widget ms-auto ms-lg-0 me-3 me-lg-0 order-lg-3">
							<ul class="d-flex align-items-center style-none">
								<li><a href="/" class="fw-lang-switch" hreflang="el" lang="el" aria-label="Ελληνική έκδοση">ΕΛ</a></li>
							</ul>
						</div>
						<nav class="navbar navbar-expand-lg p0 order-lg-2">
							<button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
								data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
								aria-label="Toggle navigation">
								<span></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNav">
								<ul class="navbar-nav align-items-lg-center">
									<li class="d-block d-lg-none"><div class="logo"><a href="/en/" class="d-block"><img src="images/logo/fourwalls_logo.svg" alt="Four Walls Real Estate"></a></div></li>
									<!-- Main navigation -->
									<li class="nav-item">
										<a class="nav-link" href="/en/">Home</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/en/properties">Properties</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/en/services">Services</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/en/about">About</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/en/contact">Contact</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div> <!--/.top-header-->
			</div> <!-- /.inner-content -->
		</header>
		<!-- /.theme-main-menu -->
